# dependencies
/node_modules
/tsreact/node_modules
/selectAnShare/node_modules
/dragAndDrop/node_modules
/.pnp
/.vscode
.pnp.js

# testing
/coverage

# production
/build

# misc
/ws-b/server/node_modules
/ws-b/client/node_modules
/ws-c/server/node_modules
/ws-c/client/node_modules
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*